<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to our novel generator</h1>
            <p class="lead">This is a simple machine learning model that is trained on a single authors work in order to mimic their writing style!</p>
            <hr class="my-4">
            <p>It uses a keras Recursive Neural Network to learn how to write like the given author.</p>
            <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
    
        <h2>Here's the main page!</h2>
        <form action="{{ url_for('predict') }}" method="post">
            <label for="author">Author:</label>
            <select id="author" name="author">
                <option value="shakespeare">Shakespeare</option>
                <option value="king">Stephen King</option>
                <option value="tolkien">Tolkien</option>
            </select>
            <br/>
            <br/>
            <br/>
            <label for="seed">Seed:</label>
            <textarea id="seed" name="seed" rows="3" cols="80">Rough NLP Frontend</textarea>
            <label for="length">Seed Length:</label>
            <input type="number" id="length" name="length"/>
            <br>
            <input type="submit">
        </form>
    </div>
</body>
</html>