.form {
	width: 60%;
    height: 465px;
    align-content: center;
    background: rgba(254, 254, 254,0.6);
    position: relative;
    border-color: 1px darkgrey;
    border-radius: 25px;
    top:100px;
    padding: 40px;
	left: 0;
    color:black;
    margin: auto;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 2rem black;

}
.form-div{
    height:200px;
}
#next{
    
    float:right;  
    height: 30px;
    width: 100px;
    background-color: rgb(12, 60, 191);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#next:hover {
    background-color: rgb(209, 184, 226);
}

#previous{
    float:left;
    height: 30px;
    width: 100px;
    background-color: rgb(62, 62, 63);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#previous:hover {
    background-color: rgb(209, 184, 226);
}


#author{
    font-size: 14pt;
    width: 100%;
    padding: 12px;
    color:black;
    border: 1px solid darkgray;
    border-radius: 4px;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 10px;
    resize: vertical;

}
#seed{
    width: 100%;
    padding: 12px;
    color:black;
    border: 1px solid darkgrey;
    border-radius: 4px;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 10px;
    resize: vertical;
    font-size: 14pt;
}


.titles{
    border: 21x solid rgb(20, 12, 131);
    border-radius: 15px;
    text-align:center;
    width:150px;
    height:30px;
    vertical-align: middle;
   
}
input[type=text], textarea {
    font-size:10pt;
    width: 95%;
    padding: 12px;
    border: 1px solid darkgray;
    border-radius: 4px;
    height: 50px;
    margin-top: 6px;
    margin-bottom: 20px;
    resize: vertical;
}

input[type=submit] {
    height:40px;
    background-color: rgb(67, 7, 103);
    color: white;
    padding: 12px 325px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

input[type=submit]:hover {
    background-color: rgb(209, 184, 226);
}

