.header {
    position:relative;
    text-align: center;
    color:white;
    font-size: 30px;
    width:99%;
    padding: 10px;;
    border-radius: 15px;
    height:300px;
    top: 0;
	bottom:500px;
	left: 0;
	right: 0;
    margin: auto;


    
}
